* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#tabgroups {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: linear-gradient(to bottom, #CEE7FF 0%, #BDDEFD 100%);
}

.tabgroup {
	position: absolute;
	min-width: 125px;
	min-height: 100px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #E0EAF4;
	box-shadow: 2px 2px 10px #444;
	cursor: pointer;
}
.tabgroup .name {
	padding: 5px;
	color: #999;
}

.tabs {
	padding: 5px;
}

.tab {
	position: relative;
	display: inline-block;
	width: 100%;
	min-width: 60px;
	vertical-align: top;
}
.tab:before {
	content: "";
	display: block;
	padding-top: 80%;
}

.tab .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 5px 5px 0;
}
.tab .favicon {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: #E0EAF4;
	border: 1px solid #d7d7d7;
	border-style: none solid solid none;
	border-radius: 0 0 5px 0;
}
.tab .favicon img {
	width: 16px;
	height: 16px;
	margin: 7px 8px 7px 6px;
}
.tab .image {
	height: calc(100% - 20px);
	background: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	overflow: hidden;
}
.tab .image img {
	width: 100%;
	height: 100%;
}
.tab.active .image {
	border-color: #3d9bda;
	box-shadow: 0 0 8px 2px #3d9bda;
}

.tab .title {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #444;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tab .tooltip {
	display: none;
}

.tab-placeholder {
	display: inline-block;
	background: #f00;
	vertical-align: top;
}